body {
    margin: 0;
}
h1{
font-size: 100px;
color: white;
}

h2 {
  font-size: 50px;
  color: white;
}


.bold{
  font-weight: bold;
  color: turquoise;
}

.p{
    font-size: 50px;
    color: white;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.button {
  background-color: turquoise; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  font-size: 20px;
  color: black;
}

.underpicture{
  color: black;
}


.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 0;
  width: 100%;
}

.about-text {
  flex: 1 1 50%;
  margin-right: 40px;
}

.about-image {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-end;
}

.thinking {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.walking {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
}

.work{
  color: black;
}

.socials {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.social-img {
  width: 32px;
  height: 32px;
}


